@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');
@import './variable';
@import './nav';
@import './header';
@import './about';
@import './work';
@import './footer';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'DM Serif Display', serif;
    font-family: 'Karla', sans-serif;
    &.active {
        overflow: hidden;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: $ColorDarkViolet;
}